<div class="card-contact">
    <div class="tx-center">
        <a href="{{ path('profile.userProfile', {'username': author.username }) }}">
            {% if not author.avatar is same as ('avatar.png') %}

                <img src="{{ asset('uploads/avatars/') ~ author.avatar  }}" class="card-img" alt="{{ author.username }}">
            {% else %}
                <img src="{{ asset('assets/img/') ~ author.avatar }}" class="card-img" alt="{{ author.username }}">
            {% endif %}
        </a>
        <h5 class="mg-t-10 mg-b-5">
            <a href="{{ path('profile.userProfile', {'username': author.username }) }}" class="contact-name">{{ author.username }}</a>
        </h5>

        <p>{{ author.about|length > 100 ? author.about|slice(0, 100) ~ '...' : author.about }}</p>
        {% if author != app.user %}
            <a href="{{ path('friends.addAsFriend', {'id': author.id}) }}" class="btn btn-primary btn-signin">Add to friends</a>
        {% endif %}
    </div><!-- tx-center -->
</div>