<div class="col-sm-6 col-lg-4">
    <div class="card-contact mg-b-20">
        <div class="tx-center">
            <a href="{{ path('profile.userProfile', {'username': profile.username}) }}"><img
                        src="{{ asset('assets/img/') ~ profile.avatar }}" class="card-img" alt=""></a>
            <h5 class="mg-t-10 mg-b-5"><a href="{{ path('profile.userProfile', {'username': profile.username}) }}"
                                          class="contact-name">{{ profile.username }}</a></h5>
            <p>{{ profile.about|length > 130 ? profile.about|slice(0, 127) ~ '...' : profile.about }}</p>
        </div><!-- tx-center -->
    </div><!-- card -->
</div>