{% extends 'base.html.twig' %}

{% block title %}
    {{ profile.username }}
{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <h6 class="slim-pagetitle">My Profile</h6>
    </div>

    <div class="row row-sm">
        <div class="col-lg-8">
            <div class="card card-profile">
                <div class="card-body">
                    <div class="media">
                        <img src="{{ asset('assets/img/') ~ profile.avatar }}" alt="">
                        <div class="media-body">
                            <h3 class="card-profile-name">{{ profile.username }}</h3>
                            <p class="card-profile-position">Joined on: {{ profile.createdAt|date('Y-M-d h:m:s') }}</p>
                            <p>Last seen: {{ profile.lastSeen|time_diff }}</p>

                            <p class="mg-b-0">
                                {{ profile.about }}
                            </p>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- card-body -->
                <div class="card-footer">
                    <a href="" class="card-profile-direct">http://thmpxls.me/profile?id=katherine</a>
                    <div>
                        <a href="{{ path('profile.edit') }}">Edit Profile</a>
                        <a href="">Profile Settings</a>
                    </div>
                </div><!-- card-footer -->
            </div><!-- card -->

            <div class="card card-latest-activity mg-t-20">
                <div class="card-body">
                    <div class="slim-card-title mg-b-20">Latest Posts</div>
                    {% if recentPosts|length %}
                        {% for post in recentPosts %}
                            <div class="row no-gutters mg-b-20">
                                <div class="col-md-4">
                                    <a href="{{ path('post.display', {'id': post.id}) }}"><img
                                                src="{{ asset('assets/img/img0.jpg') }}" class="img-fit-cover"
                                                alt=""></a>
                                </div><!-- col-4 -->
                                <div class="col-md-8">
                                    <div class="post-wrapper">
                                        <a href="{{ path('post.display', {'id': post.id}) }}"
                                           class="activity-title">{{ post.title }}</a>
                                        <p>
                                            {{ post.content|length > 300 ? post.content|slice(0, 300) ~ '...' : post.content }}
                                        </p>
                                        <p class="mg-b-0">
                                            <a href="" class="d-block">{{ post.user.username }}
                                                in {{ post.subCategory }}</a>
                                            <span>{{ post.createdAt|date('Y M d') }} .</span>
                                        </p>
                                    </div><!-- post-wrapper -->
                                </div><!-- col-8 -->
                            </div><!-- row -->
                        {% endfor %}
                    {% else %}
                        <h3>Welp! there are no posts at the moment, check back later...</h3>
                    {% endif %}


                </div><!-- card-body -->
                <div class="card-footer">
                    <a href="{{ path('post.userPosts', {'username': profile.username }) }}">See all posts</a>
                </div><!-- card-footer -->
            </div><!-- card -->


        </div><!-- col-8 -->

        <div class="col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="card card-connection">
                <div class="row row-xs">
                    <div class="col-4 tx-primary">
                        {{ profile.viewsCounter }}
                    </div>
                    {% if profile == app.user %}
                        <div class="col-8">people viewed your profile!</div>
                    {% else %}
                        <div class="col-8">people viewed {{ profile.username }}'s profile!</div>
                    {% endif %}
                </div><!-- row -->
                <hr>
                <div class="row row-xs">
                    <div class="col-4 tx-purple">
                        {% if friends %}
                            {{ friends|length }}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                    <div class="col-8">
                        {% if profile == app.user %}
                            friends in your list!
                        {% else %}
                            connections <br>
                            {% if isFriend %}
                                <a class="btn btn-primary btn-signin mg-b-0"
                                   href="{{ path('friends.removeFriend', {'id': profile.id}) }}">
                                    Remove from friends
                                </a>
                            {% else %}
                                <a class="btn btn-primary btn-signin mg-b-0"
                                   href="{{ path('friends.addAsFriend', {'id': profile.id}) }}">
                                    Add to friends
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div><!-- row -->
            </div><!-- card -->

            <div class="card card-people-list mg-t-20">
                <div class="slim-card-title">Recently became friends with</div>
                <div class="media-list">
                    {% if recentFriends %}
                        {% for item in recentFriends %}
                            <div class="media">
                                <img src="{{ asset('assets/img/') ~ item.relatedUser.avatar }}" alt="">
                                <div class="media-body">
                                    <a href="{{ path('profile.userProfile', {'username': item.relatedUser.username}) }}">{{ item.relatedUser.username }}</a>
                                    <p>{{ item.updatedAt|time_diff }}</p>
                                </div><!-- media-body -->
                            </div><!-- media -->
                        {% endfor %}
                    {% else %}
                        This users has not friends at the moment, maybe add him? :)
                    {% endif %}
                </div><!-- media-list -->
            </div><!-- card -->

            {#<div class="card card-people-list mg-t-20">#}
                {#<div class="slim-card-title">People you may know</div>#}
                {#<div class="media-list">#}
                    {#<div class="media">#}
                        {#<img src="http://via.placeholder.com/500x500" alt="">#}
                        {#<div class="media-body">#}
                            {#<a href="">Amber Heard</a>#}
                            {#<p>Software Engineer</p>#}
                        {#</div><!-- media-body -->#}
                        {#<a href=""><i class="icon ion-person-add tx-20"></i></a>#}
                    {#</div><!-- media -->#}
                    {#<div class="media">#}
                        {#<img src="http://via.placeholder.com/500x500" alt="">#}
                        {#<div class="media-body">#}
                            {#<a href="">Richard Salomon</a>#}
                            {#<p>Architect</p>#}
                        {#</div><!-- media-body -->#}
                        {#<a href=""><i class="icon ion-person-add tx-20"></i></a>#}
                    {#</div><!-- media -->#}
                    {#<div class="media">#}
                        {#<img src="http://via.placeholder.com/500x500" alt="">#}
                        {#<div class="media-body">#}
                            {#<a href="">Warren Vito</a>#}
                            {#<p>Sales Representative</p>#}
                        {#</div><!-- media-body -->#}
                        {#<a href=""><i class="icon ion-person-add tx-20"></i></a>#}
                    {#</div><!-- media -->#}
                    {#<div class="media">#}
                        {#<img src="http://via.placeholder.com/500x500" alt="">#}
                        {#<div class="media-body">#}
                            {#<a href="">Charlene Plateros</a>#}
                            {#<p>Sales Representative</p>#}
                        {#</div><!-- media-body -->#}
                        {#<a href=""><i class="icon ion-person-add tx-20"></i></a>#}
                    {#</div><!-- media -->#}
                    {#<div class="media">#}
                        {#<img src="http://via.placeholder.com/500x500" alt="">#}
                        {#<div class="media-body">#}
                            {#<a href="">Allan Palban</a>#}
                            {#<p>Sales Representative</p>#}
                        {#</div><!-- media-body -->#}
                        {#<a href=""><i class="icon ion-person-add tx-20"></i></a>#}
                    {#</div><!-- media -->#}
                {#</div><!-- media-list -->#}
            {#</div><!-- card -->#}

            <div class="card pd-25 mg-t-20">
                <div class="slim-card-title">Contact &amp; Personal Info</div>

                <div class="media-list mg-t-25">
                    <div class="media">
                        <div><i class="icon ion-link tx-24 lh-0"></i></div>
                        <div class="media-body mg-l-15 mg-t-4">
                            <h6 class="tx-14 tx-gray-700">Websites</h6>
                            <a href="" class="d-block">http://themepixels.me</a>
                            <a href="" class="d-block">http://themeforest.net</a>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mg-t-25">
                        <div><i class="icon ion-ios-telephone-outline tx-24 lh-0"></i></div>
                        <div class="media-body mg-l-15 mg-t-4">
                            <h6 class="tx-14 tx-gray-700">Phone Number</h6>
                            <span class="d-block">+1 234 5678 910</span>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mg-t-25">
                        <div><i class="icon ion-ios-email-outline tx-24 lh-0"></i></div>
                        <div class="media-body mg-l-15 mg-t-4">
                            <h6 class="tx-14 tx-gray-700">Email Address</h6>
                            <span class="d-block">yourname@sample.com</span>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="media mg-t-25">
                        <div><i class="icon ion-social-twitter tx-18 lh-0"></i></div>
                        <div class="media-body mg-l-15 mg-t-2">
                            <h6 class="tx-14 tx-gray-700">Twitter</h6>
                            <a href="#" class="d-block">@themepixels</a>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div><!-- media-list -->
            </div><!-- card -->
        </div><!-- col-4 -->
    </div>
{% endblock %}