{% extends 'base.html.twig' %}

{% block title %}
    {{ profile.username }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ asset('assets/img/') ~ profile.avatar }}" alt="{{ profile.username }}" class="img-circle img-responsive center-block">
        </div>
        <div class="col-sm-9">
            <h4 class="p10">{{ profile.username }} profile!</h4>
            <span class="p10"><strong>About:</strong></span>
            <p class="p10">{{ profile.about }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="p10">Latest posts from <strong>{{ profile.username }}</strong></h2>
        </div>
        <div class="col-sm-12">
            {% if profile.posts %}
                {% for post in profile.posts %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <a href="{{ path('post.display', {'id': post.id}) }}"><strong>{{ post.title }}</strong></a> -
                            published on: {{  post.createdAt|date('Y-M-d h:m:s') }} by
                            <strong>
                                <a href="{{ path('profile.userProfile', {'username': post.user.username}) }}">
                                    {{ post.user.username }}
                                </a>
                            </strong>
                        </div>
                        <div class="panel-body">
                            {{ post.content }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="text-center">It seems like this user is quite busy and hasn't posted anything yet, Check back later maybe?</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}