{% extends 'base-logged-out.html.twig' %}

{% block title %}Sing in to your account!{% endblock %}

{% block body %}

    <div class="d-md-flex flex-row-reverse">
        <div class="signin-right">

            <div class="signin-box">
                <h2 class="signin-title-primary">Welcome back!</h2>
                <h3 class="signin-title-secondary">Sign in to continue.</h3>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mg-t-20">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if error %}
                    <span class="error">{{ error.messageKey|trans }}</span>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_widget(form._username, {'attr': {'value': last_username}}) }}
                {{ form_end(form) }}
                <div class="signup-separator"><span>Or sign in using</span></div>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-facebook btn-block">
                    <span>Facebook</span>
                </a>

                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-google btn-block">
                    <span>Google</span>
                </a>

                {#<a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" class="btn btn-twitter btn-block">#}
                    {#<span>Twitter</span>#}
                {#</a>#}

                <div class="signup-separator mt-3"><span>Other options</span></div>

                <p class="mg-b-0">Forgot your password? <a href="{{ path('security.reset.password') }}">Reset the password</a></p>
                <p class="mg-b-0">Don't have an account? <a href="{{ path('register.createAccount') }}">Sign Up</a></p>
            </div>

        </div><!-- signin-right -->
        <div class="signin-left">
            <div class="signin-box">
                <h2 class="slim-logo"><a href="index.html">fabour<span>.</span></a></h2>

                <p>Welcome to fabour, this product or whatever makes absolutely no sense and it's almost trash (maybe), if you're interested please feel free to login and do whatever you want, chat with friends and leave comments on others trash posts</p>

                <p>Dear lord please forgive me for stealing this template from slim, Amen</p>

                {#<p><a href="" class="btn btn-outline-secondary pd-x-25">Learn More</a></p>#}

                <p class="tx-12">&copy; Copyright 2019. All Rights Reserved.</p>
            </div>
        </div><!-- signin-left -->
    </div><!-- d-flex -->

{% endblock %}