<div class="dropdown dropdown-b">
    <a href="{{ path('friends.pending') }}" class="header-notification">
        <i class="icon ion-ios-personadd"></i>
        {% if pending %}
            <span class="indicator"></span>
        {% endif %}
    </a>
</div>
<div class="dropdown dropdown-b">
    <a href="" class="header-notification" data-toggle="dropdown">
        <i class="icon ion-ios-bell-outline"></i>
        <span class="indicator"></span>
    </a>
    <div class="dropdown-menu">
        <div class="dropdown-menu-header">
            <h6 class="dropdown-menu-title">Notifications</h6>
            <div>
                <a href="">Mark All as Read</a>
                <a href="">Settings</a>
            </div>
        </div><!-- dropdown-menu-header -->
        <div class="dropdown-list">
            <!-- loop starts here -->
            <a href="" class="dropdown-link">
                <div class="media">
                    <img src="" alt="">
                    <div class="media-body">
                        <p><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                        <span>October 03, 2017 8:45am</span>
                    </div>
                </div><!-- media -->
            </a>
            <!-- loop ends here -->
            <a href="" class="dropdown-link">
                <div class="media">
                    <img src="" alt="">
                    <div class="media-body">
                        <p><strong>Mellisa Brown</strong> appreciated your work <strong>The Social
                                Network</strong></p>
                        <span>October 02, 2017 12:44am</span>
                    </div>
                </div><!-- media -->
            </a>
            <a href="" class="dropdown-link read">
                <div class="media">
                    <img src="" alt="">
                    <div class="media-body">
                        <p>20+ new items added are for sale in your <strong>Sale Group</strong></p>
                        <span>October 01, 2017 10:20pm</span>
                    </div>
                </div><!-- media -->
            </a>
            <a href="" class="dropdown-link read">
                <div class="media">
                    <img src="" alt="">
                    <div class="media-body">
                        <p><strong>Julius Erving</strong> wants to connect with you on your conversation
                            with <strong>Ronnie Mara</strong></p>
                        <span>October 01, 2017 6:08pm</span>
                    </div>
                </div><!-- media -->
            </a>
            <div class="dropdown-list-footer">
                <a href="page-notifications.html"><i class="fa fa-angle-down"></i> Show All
                    Notifications</a>
            </div>
        </div><!-- dropdown-list -->
    </div><!-- dropdown-menu-right -->
</div><!-- dropdown -->

<div class="dropdown dropdown-b">
    <a href="{{ path('post.create') }}" class="header-notification">
        <i class="icon ion-ios-paper-outline"></i>
    </a>
</div>

<div class="dropdown dropdown-c">
    <a href="#" class="logged-user" data-toggle="dropdown">
        <img src="{{ asset('assets/img/') ~ app.user.avatar  }}" alt="">
        <span>{{ app.user.username }}</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <nav class="nav">
            <a href="{{ path('profile.userProfile') }}" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
            <a href="{{ path('profile.edit') }}" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
            <a href="{{ path('bookmark.bookmarks') }}" class="nav-link"><i class="icon ion-ios-bookmarks"></i> Bookmarks</a>
            <a href="#" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>
            <a href="{{ path('logout') }}" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
        </nav>
    </div><!-- dropdown-menu -->
</div><!-- dropdown -->
