<div class="dropdown dropdown-b">
    <a href="{{ path('messages.messaging') }}" class="header-notification">
        <i class="icon ion-ios-chatboxes-outline"></i>
        {% if messages %}
            <span class="indicator"></span>
        {% endif %}
    </a>
</div>

<div class="dropdown dropdown-b">
    <a href="{{ path('friends.pending') }}" class="header-notification">
        <i class="icon ion-ios-personadd-outline"></i>
        {% if pending %}
            <span class="indicator"></span>
        {% endif %}
    </a>
</div>

{{ render(controller(
    'App\\Controller\\NotificationController::renderNotifications'
)) }}

<div class="dropdown dropdown-b">
    <a href="{{ path('post.create') }}" class="header-notification">
        <i class="icon ion-ios-paper-outline"></i>
    </a>
</div>

<div class="dropdown dropdown-c">
    <a href="#" class="logged-user" data-toggle="dropdown">
        {% if not app.user.avatar is same as ('avatar.png') %}
            <img src="{{ asset(app.user.avatar) }}" alt="">
        {% else %}
            <img src="{{ asset('assets/img/') ~ app.user.avatar  }}" alt="">
        {% endif %}
        <span>{{ app.user.username }}</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <nav class="nav">
            <a href="{{ path('profile.userProfile') }}" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
            <a href="{{ path('profile.edit') }}" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
            <a href="{{ path('bookmark.bookmarks') }}" class="nav-link"><i class="icon ion-ios-bookmarks"></i> Bookmarks</a>
            <a href="{{ path('post.drafts') }}" class="nav-link"><i class="icon ion-ios-copy"></i> Drafts</a>
            <a href="{{ path('logout') }}" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
        </nav>
    </div><!-- dropdown-menu -->
</div><!-- dropdown -->
