{% extends 'base.html.twig' %}

{% block title %}Welcome to the shittiest blog evah!!!{% endblock %}

{% block body %}
    <div class="slim-pageheader">
        <h6 class="slim-pagetitle">Welcome back {{ app.user.username }}</h6>
    </div>

    <div class="section-wrapper mg-t-20">

        {% if posts %}
            {% for post in posts %}
                <div class="media media-demo">
                    <div class="media-body mg-t-20 mg-sm-t-0">
                        <h5 class="tx-inverse mg-b-20">
                            <a href="{{ path('post.display', {'id': post.id}) }}">{{ post.title }}</a>
                        </h5>
                        <p>
                            {{ post.content|length > 300 ? post.content|slice(0, 300) ~ '...' : post.content}}
                        </p>
                        <p>
                            <strong>
                                {{ post.user.username }} in {{ post.category }}
                            </strong>
                            <br>
                            <em>
                                {{ post.createdAt|date('Y M d') }} .
                            </em>
                        </p>

                    </div><!-- media-body -->
                    <img src="{{ asset('assets/img/img0.jpg') }}" class="media-img-demo align-self-center" alt="Image">
                </div><!-- media -->
            {% endfor %}
        {% else %}
            <h3 class="text-center">Welp! there are no posts at the moment, check back later...</h3>
        {% endif %}

    </div>

{% endblock %}
