{% extends 'base.html.twig' %}

{% block title %}Welcome to the shittiest blog evah!!!{% endblock %}

{% block body %}

    {% if posts %}
        {% for post in posts %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="{{ path('post.display', {'id': post.id}) }}"><strong>{{ post.title }}</strong></a> -
                    published on: {{  post.createdAt|date('Y-M-d hh:mm:ss') }} by 
                    <strong>
                        <a href="#">
                            {{ post.user.username }}
                        </a>
                    </strong>
                </div>
                <div class="panel-body">
                    {{ post.content }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3 class="text-center">Welp! there are no posts at the moment, check back later...</h3>
    {% endif %}

{% endblock %}
