{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}

    <div class="container-messages" id="messenger">
        {% if conversation_id and user %}
            <Messenger :user='{{ user|json_encode() }}'
                       :conversations='{{ conversations|json_encode }}'
                       :conversation_id="{{ conversation_id|json_encode }}"/>
        {% else %}
            <Messenger :conversations='{{ conversations|json_encode }}'/>
        {% endif %}


    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/conversation.js') }}"></script>
{% endblock %}