{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}

    <div class="container-messages" id="messenger">
        {#{{ dump(user|json_encode) }}#}
        <Messenger :user='{{ user|json_encode() }}'
                   :conversations='{{ conversations|json_encode }}'
                   :conversation_id="{{ conversation_id|json_encode }}"/>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/conversation.js') }}"></script>
{% endblock %}