{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="section-wrapper mg-t-20">
        <div class="section-title">
            Most recent notifications!
        </div>
        <div class="card card-people-list">
            {% for item in result %}
                <div class="media">
                    <img src="{{ item.avatar }}" alt="">
                    <div class="media-body">
                        <a href="{{ item.url }}">{{ item.action }}</a>
                        <p>{{ item.date|time_diff }}</p>
                    </div><!-- media-body -->
                </div><!-- media -->
            {% endfor %}
        </div>
    </div>
    {#{{ dump(notifications) }}#}
{% endblock %}
