{% extends 'base.html.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block body %}

    <div class="section-wrapper mg-t-20">
        <label class="section-title">Popular posts in {{ category }}</label>

        <div class="row">
            {% if popular_posts %}
                {% for post in popular_posts %}
                    <div class="col-lg-3">
                        <div class="card card-blog">
                            <figure class="card-item-img bg-mantle">
                                {% if post.thumbnail %}
                                    <img class="img-fluid" src="{{ post.thumbnail }}" alt="Image">
                                {% else %}
                                    <img class="img-fluid" src="http://via.placeholder.com/1000x667" alt="Image">
                                {% endif %}
                            </figure>
                            <div class="card-body">
                                <p class="blog-category">by {{ post.user.username }}</p>
                                <h5 class="blog-title"><a
                                            href="{{ path('post.display', {'uuid': post.id|encode_url}) }}">{{ post.title }}</a></h5>
                                <p class="blog-text">
                                    {{ post.content|striptags|length > 160 ? post.content|striptags|slice(0, 157) ~ '...' : post.content|striptags|e('html') }}
                                </p>
                                <p class="blog-links">
                                    <a href="{{ path('post.display', {'uuid': post.id|encode_url}) }}">{{ post.viewsCounter }} Views</a>
                                    <a href="{{ path('post.display', {'uuid': post.id|encode_url}) }}">{{ post.comments.count }} Comments</a>
                                </p>
                            </div><!-- card-body -->
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                There are no posts currently, check back later, or try another category :)
            {% endif %}
        </div>
    </div>

    <div class="section-wrapper mg-t-20">
        <label class="section-title">Recently published</label>
        <div class="row">
            {% if recentPosts %}
                {% for post in recentPosts %}
                    <div class="col-lg-6">
                        <div class="card card-blog-split">
                            <div class="row no-gutters">
                                <div class="col-md-5 col-lg-6 col-xl-5">
                                    <figure>
                                        {% if post.thumbnail %}
                                            <img src="{{ post.thumbnail }}" class="img-fit-cover" alt="">
                                        {% else %}
                                            <img src="http://via.placeholder.com/1000x667" class="img-fit-cover" alt="">
                                        {% endif %}
                                    </figure>
                                </div><!-- col-4 -->
                                <div class="col-md-7 col-lg-6 col-xl-7">
                                    <p class="blog-category tx-danger">{{ post.subCategory }}</p>
                                    <h5 class="blog-title"><a
                                                href="{{ path('post.display', {'uuid': post.id|encode_url}) }}">{{ post.title }}</a></h5>
                                    <p class="blog-text">
                                        {{ post.content|striptags|trim(side='left')|length > 255 ? post.content|striptags|trim(side='left')|slice(0, 253) ~ '...' : post.content|striptags|trim(side='left')|e('html') }}
                                    </p>
                                    <span class="blog-date">{{ post.createdAt|date('Y-m-d H:m') }}</span>
                                </div><!-- col-8 -->
                            </div><!-- row -->
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                There are no posts currently, check back later, or try another category :)
            {% endif %}
        </div>
    </div>

{% endblock %}
