<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {#Might want to do some SEO goodness in the process#}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Vendor css -->
    <link href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/lib/Ionicons/css/ionicons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/lib/notyf/notyf.min.css') }}" rel="stylesheet">
    {#<link href="{{ asset('build/app.css') }}" rel="stylesheet">#}

    <!-- Slim CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/slim.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body id="main-page">

<style>

    .typeahead.hidden {
        display: none;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        position: absolute;
        width: 150px;
        /*height: 30px;*/
        padding: 8px 12px;
        font-size: 24px;
        line-height: 30px;
        border: 2px solid #ccc;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        outline: none;
    }

    .typeahead {
        background-color: #fff;
        list-style: none;
    }

    .typeahead:focus {
        border: 2px solid #0097cf;
    }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-menu {
        width: 422px;
        margin: 12px 0;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
        font-size: 18px;
        line-height: 24px;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;

    }

    .tt-suggestion p {
        margin: 0;
    }

    .gist {
        font-size: 14px;
    }
</style>

<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="{{ path('home.index') }}">slim<span>.</span></a></h2>

            {{ render(controller(
                'App\\Controller\\SearchController::searchbar'
            )) }}

        </div><!-- slim-header-left -->

        <div class="slim-header-right">
            {{ render(controller(
                'App\\Controller\\HomeController::renderIcons'
            )) }}
        </div><!-- header-right -->
    </div><!-- container -->
</div><!-- slim-header -->


<div class="slim-navbar">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('home.index') }}">
                    <i class="icon ion-ios-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'arts-and-entertainment'}) }}">
                    <i class="icon ion-ios-game-controller-b"></i>
                    <span>Arts & Entertainment</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'industry'}) }}">
                    <i class="icon ion-ios-settings"></i>
                    <span>Industry</span>
                </a>

            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'innovation-and-tech'}) }}">
                    <i class="icon ion-android-phone-portrait"></i>
                    <span>Innovation & Tech</span>
                </a>

            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'life'}) }}">
                    <i class="icon ion-ios-heart"></i>
                    <span>Life</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'society'}) }}">
                    <i class="icon ion-ios-people"></i>
                    <span>Society</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.categories') }}">
                    <i class="icon ion-ios-arrow-right"></i>
                    <span>More</span>
                </a>
            </li>
        </ul>
    </div><!-- container -->
</div><!-- slim-navbar -->

<div class="slim-mainpanel">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>
{# Hiding this because of the messages page, need to find a solution for the problem #}
{# <div class="slim-footer">
    <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved. </p>
    </div><!-- container -->
</div><!-- slim-footer --> #}
<!-- need jQuery -->
<script src="{{ asset('assets/lib/jquery/js/jquery.js') }}"></script>
<script src="{{ asset('assets/lib/notyf/notyf.min.js') }}"></script>
<script src="{{ asset('assets/lib/popper.js/js/popper.js') }}"></script>
<script src="{{ asset('assets/lib/bootstrap/js/bootstrap.js') }}"></script>

{#<script src="{{ asset('assets/js/slim.js') }}"></script>#}
{# <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> #}
<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
<script src="{{ asset('bundles/goswebsocket/js//gos_web_socket_client.js') }}"></script>
<script type="text/javascript">
    var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}"
</script>
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
