<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {#Might want to do some SEO goodness in the process#}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Vendor css -->
    <link href="{{ asset('assets/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/lib/Ionicons/css/ionicons.css') }}" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/slim.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body id="main-page">
<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <h2 class="slim-logo"><a href="{{ path('home.index') }}">slim<span>.</span></a></h2>

            {{ render(controller(
                'App\\Controller\\SearchController::searchbar'
            )) }}

        </div><!-- slim-header-left -->

        <div class="slim-header-right">
            <div class="dropdown dropdown-b">
                <a href="{{ path('friends.pending') }}" class="header-notification">
                    <i class="icon ion-ios-personadd"></i>
                </a>
            </div>
            <div class="dropdown dropdown-b">
                <a href="{{ path('post.create') }}" class="header-notification">
                    <i class="icon ion-ios-paper-outline"></i>
                </a>
            </div>
            <div class="dropdown dropdown-b">
                <a href="" class="header-notification" data-toggle="dropdown">
                    <i class="icon ion-ios-bell-outline"></i>
                    <span class="indicator"></span>
                </a>
                <div class="dropdown-menu">
                    <div class="dropdown-menu-header">
                        <h6 class="dropdown-menu-title">Notifications</h6>
                        <div>
                            <a href="">Mark All as Read</a>
                            <a href="">Settings</a>
                        </div>
                    </div><!-- dropdown-menu-header -->
                    <div class="dropdown-list">
                        <!-- loop starts here -->
                        <a href="" class="dropdown-link">
                            <div class="media">
                                <img src="http://via.placeholder.com/500x500" alt="">
                                <div class="media-body">
                                    <p><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                                    <span>October 03, 2017 8:45am</span>
                                </div>
                            </div><!-- media -->
                        </a>
                        <!-- loop ends here -->
                        <a href="" class="dropdown-link">
                            <div class="media">
                                <img src="http://via.placeholder.com/500x500" alt="">
                                <div class="media-body">
                                    <p><strong>Mellisa Brown</strong> appreciated your work <strong>The Social
                                            Network</strong></p>
                                    <span>October 02, 2017 12:44am</span>
                                </div>
                            </div><!-- media -->
                        </a>
                        <a href="" class="dropdown-link read">
                            <div class="media">
                                <img src="http://via.placeholder.com/500x500" alt="">
                                <div class="media-body">
                                    <p>20+ new items added are for sale in your <strong>Sale Group</strong></p>
                                    <span>October 01, 2017 10:20pm</span>
                                </div>
                            </div><!-- media -->
                        </a>
                        <a href="" class="dropdown-link read">
                            <div class="media">
                                <img src="http://via.placeholder.com/500x500" alt="">
                                <div class="media-body">
                                    <p><strong>Julius Erving</strong> wants to connect with you on your conversation
                                        with <strong>Ronnie Mara</strong></p>
                                    <span>October 01, 2017 6:08pm</span>
                                </div>
                            </div><!-- media -->
                        </a>
                        <div class="dropdown-list-footer">
                            <a href="page-notifications.html"><i class="fa fa-angle-down"></i> Show All
                                Notifications</a>
                        </div>
                    </div><!-- dropdown-list -->
                </div><!-- dropdown-menu-right -->
            </div><!-- dropdown -->
            <div class="dropdown dropdown-c">
                <a href="#" class="logged-user" data-toggle="dropdown">
                    <img src="{{ asset('assets/img/') ~ app.user.avatar  }}" alt="">
                    <span>{{ app.user.username }}</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <nav class="nav">
                        <a href="{{ path('profile.userProfile') }}" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                        <a href="{{ path('profile.edit') }}" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                        <a href="#" class="nav-link"><i class="icon ion-ios-bolt"></i> Activity Log</a>
                        <a href="#" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>
                        <a href="{{ path('logout') }}" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
                    </nav>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
        </div><!-- header-right -->
    </div><!-- container -->
</div><!-- slim-header -->


<div class="slim-navbar">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'arts-and-entertainment'}) }}">
                    <i class="icon ion-ios-game-controller-b"></i>
                    <span>Arts & Entertainment</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'industry'}) }}">
                    <i class="icon ion-ios-settings"></i>
                    <span>Industry</span>
                </a>

            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'innovation-and-tech'}) }}">
                    <i class="icon ion-android-phone-portrait"></i>
                    <span>Innovation & Tech</span>
                </a>

            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'life'}) }}">
                    <i class="icon ion-ios-heart"></i>
                    <span>Life</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="{{ path('category.category', {'slug': 'society'}) }}">
                    <i class="icon ion-ios-people"></i>
                    <span>Society</span>
                </a>
            </li>
            <li class="nav-item {{ app.request.get('_route') == '_list' ? 'active' }}">
                <a class="nav-link" href="#">
                    <i class="icon ion-ios-arrow-right"></i>
                    <span>More</span>
                </a>
            </li>
        </ul>
    </div><!-- container -->
</div><!-- slim-navbar -->

<div class="slim-mainpanel">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>
<div class="slim-footer">
    <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved. </p>
    </div><!-- container -->
</div><!-- slim-footer -->
<!-- need jQuery -->
<script src="{{ asset('assets/lib/jquery/js/jquery.js') }}"></script>
<script src="{{ asset('assets/lib/popper.js/js/popper.js') }}"></script>
<script src="{{ asset('assets/lib/bootstrap/js/bootstrap.js') }}"></script>

<script src="{{ asset('assets/js/slim.js') }}"></script>
{# <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> #}
<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
<script src="{{ asset('bundles/goswebsocket/js//gos_web_socket_client.js') }}"></script>
<script type="text/javascript">
    var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}"
</script>
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
