{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-8">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mg-t-20">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="card card-recommendation mg-t-20">
                <div class="card-body pd-25">
                    <div class="slim-card-title">{{ post.title }}</div>
                    <div class="media align-items-center mg-y-25">
                        <img src="http://via.placeholder.com/500x500" class="wd-40 rounded-circle" alt="">
                        <div class="media-body mg-l-15">
                            <h6 class="tx-14 mg-b-2">by <a href="{{ path('profile.userProfile', {'username': post.user.username }) }}">{{ post.user.username }}</a></h6>
                            <p class="mg-b-0">{{ post.category }}</p>
                        </div><!-- media-body -->
                        <span class="tx-12">{{ post.createdAt|date('Y-M-d h:m:s')}}</span>
                    </div><!-- media -->
                    {{ post.content|raw }}
                </div><!-- card-body -->

            </div>
            <div class="section-wrapper mg-t-20" style="overflow:hidden">
                <label class="section-title">Have any thoughts on this?</label>
                {{ form(comment_form) }}
            </div>
            <div class="section-wrapper mg-t-20">
                <label class="section-title">Comments</label>

                <ul class="media-list-demo">
                    {% if post.comments.count %}
                        {% for comment in post.comments %}
                            <li class="media">
                                <img class="media-img" src="{{ asset('assets/img/') ~ comment.user.avatar }}" alt="Image">
                                <div class="media-body">
                                    <h6 class="tx-inverse mg-b-10">
                                        <a href="{{ path('profile.userProfile', {'username': comment.user.username}) }}">
                                            {{ comment.user.username }}
                                        </a>
                                        <small>{{ comment.createdAt|date('Y-M-D h:m:s') }}</small>
                                    </h6>
                                    {{ comment.content }}
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        This post has no comments, be the first.
                    {% endif %}

                </ul>
            </div>
        </div>
        <div class="col-lg-4 mg-t-20">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-connection">
                        <div class="row row-xs">
                            <div class="col-4 tx-primary">{{ post.viewsCounter }}</div>
                            <div class="col-8">views on this post!</div>
                        </div><!-- row -->
                        <hr>
                        <div class="row row-xs">
                            <div class="col-4 tx-purple">{{ post.bookmarks.count }}</div>
                            <div class="col-8">
                                saves <br>
                                {% if bookmarked == null %}
                                    {% if post.bookmarks.count %}
                                        <a href="{{ path('post.bookmark', {'id': post.id}) }}">Bookmark this too</a>
                                    {% else %}
                                        <a href="{{ path('post.bookmark', {'id': post.id}) }}">Be the first to bookmark this</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('post.unbookmark', {'id': post.id}) }}">Remove from bookmarks</a>
                                {% endif %}
                            </div>
                        </div><!-- row -->
                    </div>
                </div>
                <div class="col-lg-12 mg-t-20">
                    {{ render(controller(
                        'App\\Controller\\ProfileController::author',
                        { 'post': post}
                    )) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
