{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-9">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
                <!-- the actual blog post: title/author/date/content -->
                <h1>{{ post.title }}</h1>
                <p class="lead">by <a href="{{ path('profile.userProfile', {'username': post.user.username}) }}">{{ post.user.username }}</a>
                </p>
                <hr>
                <p>
                    <span class="glyphicon glyphicon-time"></span> Posted on {{ post.createdAt|date('Y-M-D h:m:s') }}
                </p>
                <hr>

                {{ post.content }}

                <hr>

                <!-- the comment box -->
                <div class="well" style="overflow: hidden;">
                    <h4>Leave a Comment:</h4>
                    {{ form(comment_form) }}
                </div>

                <hr>
                {#Comments will be down here#}

                {% if post.comments.count %}
                    {% for comment in post.comments %}

                        <h3>{{ comment.user }}
                            <small>{{ comment.createdAt|date('Y-M-D h:m:s') }}</small>
                        </h3>
                        <p>{{ comment.content }}</p>
                    {% endfor %}
                {% else %}
                    This post has no comments, be the first.
                {% endif %}
        </div>
        <div class="col-lg-3">
            {{ render(controller(
                'App\\Controller\\ProfileController::author',
                { 'post': post}
            )) }}
        </div>
    </div>

{% endblock %}
