{% extends 'base.html.twig' %}
 {% block title %}Editing {{ post.title }}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mg-t-20">
            {{ message }}
        </div>
    {% endfor %}
    <div class="section-wrapper mg-t-20">
        {{ form_start(form, {'attr': {'data-post-id': post.id|encode_url, 'id': 'edit_form'}}) }}
            {{ form_errors(form) }}
            {{ form(form) }}
        {{ form_end(form) }}
        {% if post.user is same as(app.user) %}
            <a class="btn btn-danger" href="{{ path('post.delete', {'uuid': post.id|encode_url}) }}">REMOVE THE POST</a>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/post.js') }}"></script>
    <script>
        $(function() {
            'use strict';
            // Inline editor

            // TODO: change all the code below to non jquery code
            let $post_category = $("#post_category")
            let $token = $("#post_token")

            $post_category.change(function ()
            {
                let $form = $(this).closest('form')

                let data = {}

                data[$token.attr('name')] = $token.val()
                data[$post_category.attr('name')] = $post_category.val()

                $.post($form.attr('action'), data).then(function (response)
                {
                    $("#post_subCategory").replaceWith(
                        $(response).find("#post_subCategory")
                    )
                })
            })

            function log(msg)
            {
                console.log(msg)
            }
        });
    </script>
{% endblock %}