{% extends 'base.html.twig' %}
 {% block title %}Create a new post{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/lib/medium-editor/css/medium-editor.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/lib/medium-insert/medium-insert.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/build/.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="section-wrapper mg-t-20 medium">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-block btn-signin">Publish</button>

        {{ form_end(form) }}
    </div><!-- section-wrapper -->


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('build/post.js') }}"></script>
    <script>

        $(function(){
            'use strict';
            // Inline editor

            // TODO: change all the code below to non jquery code
            let $post_category = $("#post_category")
            let $token = $("#post_token")

            $post_category.change(function ()
            {
                let $form = $(this).closest('form')

                let data = {}

                data[$token.attr('name')] = $token.val()
                data[$post_category.attr('name')] = $post_category.val()

                $.post($form.attr('action'), data).then(function (response)
                {
                    $("#post_subCategory").replaceWith(
                        $(response).find("#post_subCategory")
                    )
                })
            })

            function log(msg)
            {
                console.log(msg)
            }
        });
    </script>
{% endblock %}