{% extends 'base.html.twig' %}
 {% block title %}Create a new post{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/lib/medium-editor/css/medium-editor.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="section-wrapper mg-t-20">
        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.category) }}

        {{ form_end(form) }}
    </div><!-- section-wrapper -->


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/lib/medium-editor/js/medium-editor.js') }}"></script>
    <script>
        $(function(){
            'use strict';
            // Inline editor
            var editor = new MediumEditor('.editable');
        });
    </script>
{% endblock %}